<div class="container">
	<div class="row">
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/1.png" alt="" style="max-width:100%"  ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/2.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/3.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/4.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/5.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/3.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/7.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/8.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/9.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/10.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/11.png" alt="" style="max-width:100%" ></a></div>
	<div class="col-4 col-lg-3 static my-2"><a href=""><img src="img/menubar2/12.png" alt="" style="max-width:100%" ></a></div>
	</div>
</div>