<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
    <div class="col-3 mt-3 " ><img src="img/Без имени-3.png" width="160px" alt=""></div>
  </div>
<div class="collapse navbar-collapse" id="navbarSupportedContent2"> -->
<div class="container-fluid my-3 sticky-top bg-light">
	<div class="container" >	
 
<div  id="menubar">
	<ul class="nav nav-pills text-center" 	>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2" id="search" ><img src="img/menu/roll.png" alt="" width="60px">
			<span class="">роллы</span>
			

		</li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/sets.pg.png"  alt="" width="60px"> <span class="align-bottom">сеты</span>

		</li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/sushi.png" alt="" width="60px"><span class="pb-0">суши</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 pb-2"><img src="img/menu/voki.png" alt=""  width="60px"><span class="pb-0">воки</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 pb-2"><img src="img/menu/tiahan.png" alt=""  width="60px"><span class="pb-0">тяхан</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/drinks.png" alt=""  width="60px"><span class="mb-0">напитки</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/salats.png" alt=""  width="60px"><span class="mb-0">салаты</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 pb-2"><img src="img/menu/sous.png" alt=""  width="60px"><span class="mb-0">соусы</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/syps.png" alt=""  width="60px"><span class="mb-0">супы</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/akcii.png" alt=""  width="60px"><span class="mb-0">акции</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/trade.png" alt=""  width="60px"><span class="mb-0">доставка</span></li>
		<li class="nav-item d-flex flex-column align-self-end mx-2 py-2"><img src="img/menu/search.png" alt=""  width="60px"><span class="mb-0">вакансии</span></li>
		<li class="nav-item pt-4 border-left"><img src="img/menu/items.png" alt=""  width="60px"><span>товаров:</span></li>

	</ul>
	</div>

	
<div  id="menubartop" style="display: none;">
	<div class="row"  >
<a class="nav-link" href="#"><img src="img/Без имени-3.png" width="160px" alt=""></a>
 <ul class="nav  mt-3">
 	
      <li class="nav-item  active">
        <a class="nav-link" href="#">роллы <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item border-left">
        <a class="nav-link" href="#">сеты</a>
      </li>
      <li class="nav-item border-left ">
        <a class="nav-link " href="#" >
          суши
        </a>
        
      </li>
      <li class="nav-item border-left">
        <a class="nav-link " href="#">воки</a>
      </li>
      <li class="nav-item border-left">
        <a class="nav-link " href="#">тяхан</a>
      </li>
      <li class="nav-item border-left">
        <a class="nav-link " href="#">напитки</a>
      </li>
      <li class="nav-item border-left">
        <a class="nav-link " href="#">салаты</a>
      </li>
      <li class="nav-item border-left">
        <a class="nav-link " href="#">соусы</a>
      </li>
      <li class="nav-item border-left">
        <a class="nav-link " href="#">супы</a>
      </li>
      <li class="nav-item border-left">
        <a class="nav-link " href="#">акции</a>
      </li>

      
      
    </ul>
    <div class="mt-2">
	<div class="">
		<img src="img/key30_30.png" alt=""><span class="border-bottom">личный кабинет</span>
	</div>
	<div class="">
		<img src="img/vk4030.png" alt="">
		<img src="img/instagram4030.png" alt="">
		<img src="img/ondoclass40_30.png" alt="">
	</div>
	</div>
	</div>
	<!-- <div><img src="img/menu/items.png" alt=""  width="60px"><span>товаров:</span></div> -->

	</div>


	</div>
</div>


<!-- </div>
</nav> -->