<div class="container ">
	<div class="row ml-4 mt-5">

		<div class="col-6 col-lg-3 text-center "  >
		<div class="text-center d-flex flex-column  justify-content-center align-items-center  "  style="border:2px solid green;width: 200px;height: 200px;">	
		<span class="font-weight-bold " style="line-height:1;">
			<span style="font-size: 12px;">Доставим</span><br>
			<span class="" style="font-size: 300%">60</span><br>
			<span style="font-size: 20px">минут</span><br>
			<span style="font-size: 12px">бесплатно</span><br>
			<span  style="font-size: 18px">от 450 р</span><br>
			
		</span>
	</div>
	
		<span   style="font-size: 18px;background-color: #FFF0F5">подробнее</span>
		
	</div>
	<div class="col-6 col-lg-3 text-center "  >
		<div class="text-center d-flex flex-column  justify-content-center align-items-center  "  style="border:2px solid green;width: 200px;height: 200px;">	
		<span class="font-weight-bold " style="line-height:1;">
			<span style="font-size: 12px;">закажи на сайте</span><br>
			<span style="font-size: 20px">забери через 20 минут готовые роллы</span>
			
		</span>
	</div>
	<div class="" style="position: relative;margin-bottom: 40px ;">
		<span   style="font-size: 18px;background-color: #FFF0F5">подробнее</span>
		</div>
	</div>
	<div class="col-6 col-lg-3 text-center "  >
		<div class="text-center d-flex flex-column  justify-content-center align-items-center  "  style="border:2px solid green;width: 200px;height: 200px;">	
		<span class="font-weight-bold " style="line-height:1;">
			<span style="font-size: 20px;">способы</span><br>
			<span style="font-size: 20px">оплаты</span>
			
		</span>
	</div>
	<div class="" style="position: relative;margin-bottom: 40px ;">
		<span   style="font-size: 18px;background-color: #FFF0F5">подробнее</span>
		</div>
	</div>
	<div class="col-6 col-lg-3 text-center "  >
		<div class="text-center d-flex flex-column  justify-content-center align-items-center  "  style="border:2px solid green;width: 200px;height: 200px;">	
		<span class="font-weight-bold " style="line-height:1;">
			<span style="font-size: 20px;">SUSHI BOX</span><br>
			<span style="font-size: 20px">О КОМПАНИИ</span>
			
		</span>
	</div>
	<div class="" style="position: relative;margin-bottom: 40px ;">
		<span   style="font-size: 18px;background-color: #FFF0F5">подробнее</span>
		</div>
	</div>



		
		
	</div>
</div>